.Main-webcam {
  position: relative;
}

.Main-buttons {
  position: relative;
}

canvas {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	text-align: center;
	/* transform: rotateY(180deg); */
	width: 640;
	height: 480;
}

video {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	text-align: center;
	/* transform: rotateY(180deg); */
	width: 640;
	height: 480;
}
