canvas {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	text-align: center;
	width: 640;
	height: 480;
}

video {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	text-align: center;
	width: 640;
	height: 480;
}
