.TrainModel-parent {
	position: relative;
}

.TrainModel-buttons {
	position: relative;
}

h2 {
	position: relative;
}

.webcam {
	position: relative;
}

canvas {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	text-align: center;
	/* transform: rotateY(180deg); */
	width: 640;
	height: 480;
}

video {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	text-align: center;
	/* transform: rotateY(180deg); */
	width: 640;
	height: 480;
}

/* video {
	position: absolute;
  width: 640;
  height: 480;
}
canvas {
	position: absolute;
  width: 640;
  height: 480;
} */

/*.Main-webcam {
  position: relative;
}

.Main-buttons {
  position: relative;
}

canvas {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	text-align: center;*/
/* transform: rotateY(180deg); */
/*width: 640;
	height: 480;
}

video {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	text-align: center;*/
/* transform: rotateY(180deg); */
/*width: 640;
	height: 480;
} */
